{{- if eq .chezmoi.hostname "desktop" }}

#!/bin/sh
xrandr --output DVI-I-1 --primary --mode 1680x1050 --pos 1920x0 --rotate normal --output DVI-D-1 --off --output HDMI-1 --off --output HDMI-2 --mode 1920x1080 --pos 0x53 --rotate normal

{{- end }}
